/*font-family: 'Titillium Web', sans-serif;
font-family: 'Bitter', serif;*/

#contenidos{
	border: 5px;
	border-color: white;
	width: 1000px;
	height: auto;
	margin: auto;
	position: relative;
	background: rgb(255,255,255);	

}

/*ETIQUETAS*/
body{
background-image: url(../img/fondo.jpg);
background-repeat: no-repeat;
background-size: cover;
}


h1{
font-family: 'Titillium Web', sans-serif;
margin left: 10px;
font-size: 10x;
text-align: center;
}


h2{
font-family: 'Bitter', serif;
margin left: 10px;
font-size: 60px;
text-align: left;
}


h3{
font-family: 'Bitter', serif;
color: white;
font-size: 10px;
text-align: center;
}


header{
width: 1000px;
height: 100px;
background: rgb(255,255,255);
border-radius: 10px;
}


nav{
margin-top: 20px;
width: 1000px;
height: 50px;
background: rgb(242,184,13);
}

ul{
margin: auto;
float: left;
padding-top: 4px;
}

ul#right:{
background: rgb(100,0,0);
margin: auto;
float: left;
padding-top: 0px;
}


li{
float: left;
list-style: none;
padding: 10px;
background: rgb(100,0,0);
margin: 3px;
border-radius: 10px;
}

main{
width: auto;
height: auto;
background: white;
}


section{
	width: 700px;
	background: white;
	height: :600px;
	float: left;
	margin-top:10px;
	border-radius: 20
	}

section#logo{
	width: 500px;
	height: 100px;
	}

section#objeto{
	width: 500px;
	height: 100px;
	float: center;
	}

section#banner{
	width: 1000px;
	height: 250px;
	float: left;


}

aside{
	width: 280px;
	height: auto;
	background: rgb(242,184,13);
	float: left;
	margin-left: 20px;
	margin-top: 10px;
	border-radius: 10px;
}


footer{
width: 1000px;
background: rgb(0,102,128);
height: 30px;
float: left;
margin-top: 10px;
margin-bottom: 20px
}




p{
font-size: 15px;
font-weight: bolder;
line-height: 24px;
padding: 10px;
text-align: justify;
}


/*CLASES*/
.ancho_menu_home{width: 900px;}
.ancho_menu_paginas{width: 970px;}

.menu:link{color:white; text-decoration: none;}
.menu:visite{color:red; text-decoration: none;}
.menu:hover{color:yellow; text-decoration: none;}
.menu:active{color:green; text-decoration: none;}


/*PSEUDO CLASES*/
